@import '../../../common.scss';
@import '../../../color.scss';

.side-bar{
    background: $primary_teal;
    overflow: hidden;
    height: 100%;
}

.brand{
    height: 56px;
    display: flex;
    align-items: center;
    background: $teal;
    padding-left: $pad-left;
    border-bottom: 1px solid #fff;
}

.nav-item{
    list-style: none;
    a{
        color: $black;
        text-decoration: none;
        padding: 16px 0;
        border-bottom: 1px solid $black;
        display: block;
    }
}
.main-nav{
    @include reset();
    padding: 0 $pad-left;
}
